/* -------- Trump and fork cartoon image -------- */

cartoon {
    position: relative;
}
cartoon img {
    position: absolute;
}
cartoon img#trump {
    top: 20px;
    left: 30px;
    width: 120px;
}
.jiggle_left {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
.jiggle_right,
cartoon img#trump:hover {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

cartoon img#fork {
    top: 130px;
    width: 100px;
    left: 72px;
    display: none;
}

/* -------- "Fork me" ribbon -------- */

body {
    overflow-x: hidden;
}
ribbon {
    background-color: #3f97ea;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    right: -50px;
    top: 40px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    text-shadow: 0 0 5px #444;
}
ribbon:hover {
    background-color: #d00;
}
ribbon a {
    color: #fff;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
}

/* -------- TRUMP..FRAUD -------- */

node {
    display: block;
    text-align: center;
    margin-top: 20px;
}
node word {
    display: block;
    font-size: 70pt;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    letter-spacing: 0.5em;
    padding-left: 0.5em;
    line-height: 1em;
}
node word.c1 { color: #000; }
node word.c2 { color: #333; }
node word.c3 { color: #666; }
node word.c4 { color: #999; }
node comment {
    display: block;
    font-size: 12pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


/* -------- hidden -------- */

backstage {
    display: none;
}

