html {
    background-image: url(../image/19CrimesTrumpWine.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: orange;
}
